.card {
  align-items: center;
  background-color: rgb(238, 238, 238);
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 172px;
  justify-content: space-evenly;
  text-align: center;
  width: 172px;
}

.card img {
  border-radius: 0.5rem;
  height: 100px;
  object-fit: cover;
  width: 90%;
}

.card h2 {
  font-size: 13px;
  overflow: hidden;
  padding-top: 1rem;
  text-overflow: ellipsis;
  white-space: break-spaces;
}
